---
const PICTURES = [
    {src: 'gallery/1.webp', alt: 'Jesús in Altea, Spain'},
    {src: 'gallery/2.webp', alt: 'View of the Alps from the plain'},
    {src: 'gallery/3.webp', alt: 'Two funny mojito cups in Rhodes beach, Greece'},
    {src: 'gallery/4.webp', alt: 'Picture of Rhodes beach, Greece'},
    {src: 'gallery/5.webp', alt: 'Acropolis of Lindos, Greece'},
    {src: 'gallery/6.webp', alt: 'Landscape of Rhodes, Greece'},
    {src: 'gallery/7.webp', alt: 'Theater in Krakow, Poland'},
    {src: 'gallery/8.webp', alt: 'Cello made with plants in Zakopane, Poland'},
    {src: 'gallery/9.webp', alt: 'Me in Barcelona, Spain'},
    {src: 'gallery/10.webp', alt: 'Landsape in Odda, Norway'},
    {src: 'gallery/11.webp', alt: 'Science Museum in Valencia, Spain'},
    {src: 'gallery/12.jpg', alt: 'Picture of snow in Sauda, Norway'}
]
---


<section class="pb-20">
    <h2 class="text-xl  text-center pb-14 font-semibold bg-gradient-to-t from-white/30 to-white bg-clip-text text-transparent tracking-wide">A piece of my memories</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[2].src} alt={PICTURES[2].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[0].src} alt={PICTURES[0].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[1].src} alt={PICTURES[1].alt}>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[3].src} alt={PICTURES[3].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[4].src} alt={PICTURES[4].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[5].src} alt={PICTURES[5].alt}>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[6].src} alt={PICTURES[6].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[7].src} alt={PICTURES[7].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[11].src} alt={PICTURES[11].alt}>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[9].src} alt={PICTURES[9].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[10].src} alt={PICTURES[10].alt}>
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src={PICTURES[8].src} alt={PICTURES[8].alt}>
            </div>
        </div>
    </div>
</section>
